# True for development, False for production
DEBUG=True

# Flask ENV
FLASK_APP=run.py
FLASK_DEBUG=True

# Flask SECRET_KEY
SECRET_KEY=<STRONG_KEY_HERE>

# Stripe Secrets
STRIPE_SECRET_KEY=nib3iutb45t
STRIPE_PUBLISHABLE_KEY=biubiybui5c

# Server Address (used by Stripe callback)
# Should be the URL used to start the APP
SERVER_ADDRESS=http://localhost:5085/

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=mydata
DATABASE_URL=postgresql://postgres:1234@db:5432/mydata